/* .Cards {
    display: flex;
    gap: 10px;
  } */
  .globe-container{
    height: 9rem;
  }
  
  @media screen and (max-width: 1200px) {
    /* .Cards{
      flex-direction: column;
    } */
    .globe-container{
      height: 9rem;
    }
  }
  
  @media screen and (max-width: 768px)
  {
    /* .Cards{
      width: 90%;
    } */
  }
  